{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <h1>voici les sorties. wow</h1>
    {% for sortie in sorties %}
        <h2>{{ sortie.nom }}</h2>
    {% endfor %}
{% endblock %}
