@import url('_header.css');
@import url('_footer.css');

:root {
    --header-h: 88px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/BG_synthwave_landscape_cc0.png') fixed center center;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    padding: 10px;

    a {
        text-decoration: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

nav li a {
    text-decoration: none;
    color: inherit;
}

main {
    color : white;
    padding: 1rem;
    min-height: calc(100dvh - var(--header-h));
}

main h2, main h1, main h3, main h4{
    text-align:center;
}

.liens-participants-inscrits{
    text-align:center;
}

.alert-box {
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
}

.lien-admin{
    color : red;
}

.alert{
    text-align:center;
}

