@import "footer.css";

:root {
    --header-h: 150px;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-size: cover;
    background: #3b3333;
    /*background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url('../images/BG_synthwave_landscape_cc0.png') fixed center center;*/
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    padding-top: 150px;

    a {
        text-decoration: none;
    }
}

.navbar {
    --bs-navbar-padding-y: 1.2rem;
}

.nav-admin {
    color: #ff0000 !important; /* couleur normale */
}

.nav-admin:hover {
    color: #ffffff !important; /* couleur au survol */
}

main {
    color : white;
    padding: 1rem;
    min-height: calc(100dvh - var(--header-h));
}

main h2, main h1, main h3, main h4{
    text-align:center;
}

.liens-participants-inscrits{
    text-align:center;
}

.alert-box {
    margin: 1rem auto;
    width: fit-content;
    text-align: center;
}

.lien-admin{
    color : red;
}

.alert{
    text-align:center;
}

